---
import Title from "../../components/Title.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Container size="sm">
    <Title title="Aspecs Socials" />

    <div class="socials">
      <ul class="socials-list">
        <li class="socials-item">
          <a href="https://www.instagram.com/aspecsgaming/" class="socials-link">
            Instagram
          </a>
        </li>
        <li class="socials-item">
          <a href="https://aspecsgaming.itch.io" class="socials-link">
            Itch.Io
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.youtube.com/@aspecsgaming" class="socials-link">
            YouTube
          </a>
        </li>
      </ul>
    </div>

    <style>
      .socials {
        margin-top: 20px;
      }
      .socials-list {
        list-style: none;
        padding: 0;
      }
      .socials-item {
        margin: 10px 0;
      }
      .socials-link {
        text-decoration: none;
        color: #0073e6;
        font-weight: bold;
      }
      .socials-link:hover {
        text-decoration: underline;
      }
    </style>
  </Container>
</Layout>
