---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint">
  <header class="relative py-12 bg-negroni-500">
    <div class="max-w-7xl mx-auto px-8 md:px-12 text-center">
      <nav class="flex justify-between items-center mb-8">
        <div></div>
        <div>
          <a
            href="/"
            class="text-lg hover:text-tomato-500 duration-200"
            >Back</a
          >
        </div>
      </nav>
      <div class="hero">
        <h1 class="text-4xl font-bold">Imprint</h1>
      </div>
    </div>
  </header>

  <section class="max-w-7xl mx-auto px-8 md:px-12 py-12">
    <div class="mb-8">
      <h2 class="text-2xl font-semibold mt-8 mb-4">
        Information in accordance with Section 5 TMG
      </h2>
      <p class="text-lg">Paul Pietzko<br />Switzerland</p>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-semibold mt-8 mb-4">Contact</h2>
      <p>
        Phone: +41 78 241 28 12<br />
        E-Mail: <a
          href="mailto:info@aspecs.ch"
          class="text-negroni-500 hover:underline"
        >
          info@aspecs.ch
        </a>
      </p>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-semibold mt-8 mb-4">Responsible for content</h2>
      <p>Paul Pietzko</p>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-semibold mt-8 mb-4">Disclaimer</h2>
      <p>
        The contents of our pages have been created with the utmost care.
        However, we cannot guarantee the contents' accuracy, completeness, or
        topicality. According to statutory provisions, we are furthermore
        responsible for our own content on these web pages. In this context,
        please note that we are accordingly not obliged to monitor merely the
        transmitted or saved information of third parties, or investigate
        circumstances pointing to illegal activity.
      </p>
    </div>
  </section>
</Layout>
