---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="relative mx-auto px-8 max-w-3xl py-20 md:px-12 text-center">
      <h1 class="text-negroni-500 text-4xl md:text-5xl font-bold mb-6">
        Follow Aspecs Gaming
      </h1>
      <p class="text-white text-lg mb-12">
        Updates, sneak peeks, and occasional chaos.
      </p>

      <ul class="space-y-6 text-lg">
        <li>
          <a
            href="https://www.instagram.com/aspecsgaming/"
            class="text-negroni-500 hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            Instagram
          </a>
        </li>
        <li>
          <a
            href="https://aspecsgaming.itch.io"
            class="text-negroni-500 hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            Itch.io
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/@aspecsgaming"
            class="text-negroni-500 hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            YouTube
          </a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
