---
import Container from "../layouts/Container.astro";
---

<Container>
  <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <article class="p-4 border rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-2">Mini Pixel Playing Cards</h2>
      <p class="text-base">A set of mini pixel playing cards for your game projects.</p>
      <a href="https://aspecsgaming.itch.io/mini-pixel-playing-cards" class="text-blue-500 underline">View Asset</a>
    </article>
    <article class="p-4 border rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-2">Pixel Art Cursors</h2>
      <p class="text-base">A collection of pixel art cursors for your game projects.</p>
      <a href="https://aspecsgaming.itch.io/pixel-art-cursors" class="text-blue-500 underline">View Asset</a>
    </article>
    <article class="p-4 border rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-2">Pixel Art Crosshairs</h2>
      <p class="text-base">A variety of pixel art crosshairs for your game projects.</p>
      <a href="https://aspecsgaming.itch.io/pixel-art-crosshairs" class="text-blue-500 underline">View Asset</a>
    </article>
  </main>
</Container>