---
import Container from "../layouts/Container.astro";
---

<Container>
  <section>
    <header class="text-center mb-8">
      <h1 class="text-4xl font-bold">Aspecs Gaming</h1>
      <p class="text-lg">Welcome to Aspecs Gaming Studio</p>
    </header>
  </section>
</Container>
