---
import Container from "../layouts/Container.astro";
---

<Container>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Aspecs Gaming</h1>
        <p class="py-6">
          Our mission is to create immersive and engaging gaming experiences
          that captivate players and push the boundaries of interactive
          entertainment. Join us on our journey to bring innovative and exciting
          games to life.
        </p>
        <a href="mailto:info@aspecs.ch" class="btn btn-primary">contact</a>
      </div>
    </div>
  </div>
</Container>
