---
---

<div class="navbar bg-base-100 fixed top-0 left-0 right-0">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">Aspecs gaming</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/history">History</a></li>
      <li><a href="mailto:info@aspecs.ch">Contact</a></li>
    </ul>
  </div>
</div>