---

---

<nav class="sticky top-0 z-100 bg-charcoal-800 shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a href="/" class="text-negroni-500 font-bold text-xl hover:text-tomato-500 duration-200"
          >Aspecs Gaming</a
        >
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          <a
            href="/assets"
            class="text-white hover:text-negroni-500 px-3 py-2 rounded-md text-sm font-medium duration-200"
            >Assets</a
          >
          <a
            href="/socials"
            class="text-white hover:text-negroni-500 px-3 py-2 rounded-md text-sm font-medium duration-200"
            >Socials</a
          >
          <a
            href="/imprint"
            class="text-white hover:text-negroni-500 px-3 py-2 rounded-md text-sm font-medium duration-200"
            >Imprint</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
