---
import Navbar from "@/components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/styles.css";
import { ClientRouter } from "astro:transitions";
---

<script>
  import "nano-analytics";
  import "nano-insights";
  import { track } from "nano-custom";
</script>


<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=poppins@500,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Aspecs Gaming</title>
    <ClientRouter />
  </head>

  <body class="bg-charcoal-500">
    <Navbar />
    <slot />
    <Footer />
  </body>

  <nano-analytics
    projectKey="mkjplo4gnatyq"
  />
  <nano-insights
    projectKey="mkjplo4gnatyq"
  />
  <nano-custom
    projectKey="mkjplo4gnatyq"
  />
</html>
